.container {
  display: flex;
  width: 100%;
  height: 100vh;
  background: var(--background-dark-color);
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: center;
}
.parallax {
  width: inherit;
  max-width: calc(var(--max-width) + 100px);
  height: inherit;
  perspective: 9px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  width: 100%;
  max-width: var(--max-width);
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  font-weight: 700;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0px 0px 40px 0px;
}

.content::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}
.content::-webkit-scrollbar-thumb {
  background: transparent;
}

section {
  padding: 16px;
  box-sizing: border-box;
  border-radius: 10px;
}

.section {
  width: 100%;
  height: 100vh;
  padding: 0 10px;
  box-sizing: border-box;
  background: var(--background-light-color);
}

.cards-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  overflow-y: auto;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 100px;
}
.cards-container::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}
.cards-container::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
.section-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px 10px 40px 10px;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
}

.section-container {
  width: inherit;
  height: inherit;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.empty-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}


