<div class="container">
  <div class="content">

    <div class="forms">

      <div class="contentForms" >
        <div *ngIf="showLogin; else registerForm" class="container-form">

          <app-signIn
            (setFormToShow)="changeForm($event)"
            (eventSubmitLogin)="submitLogin($event)"
          ></app-signIn>

        </div>

        <ng-template #registerForm>

          <div class="container-form">

            <app-signUp
              (setFormToShow)="changeForm($event)"
              (eventSubmitRegister)="submitRegister($event)"
            ></app-signUp>

          </div>

        </ng-template>
      </div>

    </div>

  </div>
</div>
