.container-nav {
  display: flex;
  width: 100vm;
  height: auto;
  background-attachment: fixed;
  background-color: var(--background-dark-color);
  align-items: center;
  padding: 10px 32px;
  box-sizing: border-box;
  justify-content: space-between;
  color: #FFFF;
}
#logo {
  display: flex;
  width: auto;
  padding: 10px 0;
  border-radius: 3px;
  color: #FFFF;
  font-size: 28px;
  font-weight: 900;
  text-decoration: none;
  animation: 5s show infinite forwards;
}
@keyframes show {
  0% { transform: translateY(3px) }
  65% { transform: translateY(0px) }
  100% { transform: translateY(3px) }
}
.container-nav::before {
   background: var(--background-dark-color);
}
.avatar-container{
  display: flex;
}
.translate {
  height: 10px;
}
.mat-expansion-panel {
  transform: scale(.8);
}
.avatar {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  object-fit: cover;

}
