body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Montserrat', sans-serif;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}

:root {
  --background-dark-color: #252525;
  --background-light-color: #f8f8ff;
  --primary-color: #1e73be;
  --secondary-color: rgb(2, 215, 131);
  --tertiary-color: #1C1C1C;
  --max-width: 1640px;
}

html, body { height: 100%; }
