<div class="container">
  <aside class="content">
      <label for="file" class="inputContainer">
        <span> Pick an image </span>
      </label>
      <input type="file" name="file" id="file" (change)="uploadFile($event)">

      <app-modal *ngIf="showModal">
        <div class="content-modal" [ngStyle]="{ 'grid-template-columns': toggleBtn.checked ? '50% 50%' : '0% 100%' }">

          <section class="previewImage" [ngStyle]="{'width': toggleBtn.checked ? '100%' : '0%' }">

            <img [src]="currentFile.file" class="image" alt="sorry, we can't show the preview" *ngIf="currentFile?.type?.includes('image')">

            <pdf-viewer class="pdfPreview" [src]="currentFile?.file"
              [render-text]="true"
              [original-size]="false"
              style="width: 95%; height: 100%"
              *ngIf="currentFile?.type?.includes('pdf')"
            ></pdf-viewer>

            <label for="file" class="iconEdit" [ngStyle]="{ opacity: toggleBtn.checked ? '1' : '0'}"> <img src="/assets/icons/edit.png" alt="edit"> </label>

          </section>
          <section class="metadata">

            <label>Show File Preview</label>
            <div>
              <span> on </span>
              <mat-slide-toggle
                checked="true"
                dir="ltr"
                class="toggle"
                #toggleBtn
              ></mat-slide-toggle>
              <span> off </span>
            </div>


            <form [formGroup]="files">
              <div class="title"> <h1> Type the attributes of file </h1> </div>

              <div class="nameInput">
                <label for="name"> File Name </label>
                <!-- <input type="text" formControlName="name" name="name" id="name" placeholder="Ex: My file"> -->
                <app-input-text [formGroup]="files" controlName="name" placeholder="Ex: My file"></app-input-text>
              </div>
              <div class="descriptionInput">
                <label for="name"> Description </label>
                <textarea formControlName="description" name="description" id="description" rows="5" placeholder="Ex: This file contain details about my travel." ></textarea>
              </div>

              <label>Type a few keywords</label>
              <div>
                <input
                  class="chipInput"
                  placeholder="Ex: travel, company..."
                  (change)="addKeywordFromInput($event)"
                >
              </div>

              <div class="keywordList">

                <div
                  *ngFor="let keyword of keywords"
                  class="keyword"
                >
                  <img src="/assets/icons/remove.png" alt="remove" (click)="removeKeyword(keyword)">
                  {{ keyword }}
                </div>

              </div>

              <div class="submit">
                <button type="submit" (click)="closeModal()"> Cancel </button>
                <button type="submit" (click)="submitFile($event)"> Save File</button>
              </div>
            </form>

          </section>

        </div>

      </app-modal>

  </aside>
</div>
