<div [formGroup]="formGroup">
  <input type="password" [formControlName]="controlName" placeholder="••••••••••" autocomplete="off" required>
  <div *ngIf="(formControl.dirty || formControl.touched) && formControl.errors" class="alert">
    <span *ngIf="formControl.errors?.['required']">
      {{ controlName }} is required.
    </span>
    <span *ngIf="formControl.errors?.['minlength']">
      {{ controlName }} should be the min 8 characters.
    </span>
    <span *ngIf="formControl.errors?.['maxlength']">
      {{ controlName }} should be the max 20 characters.
    </span>

</div>
</div>
