<div class="content-section-slogan">

  <div class="title">
    <label for="name" class="name"> <strong> Pobrebox </strong> File Storage </label>
    <h1> Guardando histórias que fazem o mundo </h1>
  </div>
  <div class="description">
    <span>
      Solução de armazenamento para guardar suas memórias. <strong> Não deixe só pra hoje. </strong>
    </span>
  </div>

  <div class="button">

    <button class="read-more"> Saiba mais </button>

    <div class="icon">
      <div class="box"></div>
      <mat-icon class="arrow">arrow_forward</mat-icon>
    </div>

  </div>
</div>
